/****************General*************************/
h2, h1 {
  font-family: 'Inter', sans-serif; 
  font-weight: 600;
  color: #391c69;
  margin-top: 12px;
  letter-spacing: -0.01em;
  line-height: 1.4;
  text-align: left;
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid #1d693a;
  outline-offset: 5px;
  border-radius: 8px;
}


/****************App.js*************************/
.appheader {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between; /* Pushes title to left and icons to right */
  align-items: center;     
}

.header-line {
  border: none;
  height: 3px;
  background-color: #dfe6e9;
  margin: 0; 
  margin-bottom: 3%;
  width: 100%;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}





.headerIcons img, .resetResults {
  width: clamp(3rem, 5vw, 4rem);                   
  height: auto;
  cursor: pointer;
}

/****************HomePage.js*************************/
.homepage{
  font-family: 'inter', sans-serif; 
  font-size: clamp(2rem, 5vw, 4rem);
  color: #391c69;
}

.quizzes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
}

.quiz-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.quizTitle {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 2%;
  letter-spacing: -0.01em;
  line-height: 1.4;
  text-align: left;
}

.quizImage {
  width: 100%;  
  max-width: 500px;          
  aspect-ratio: 1 / 1;    /*height to match the width */
  object-fit: cover;      /*Crop to fill the square*/
  object-position: center; /*center of the image is visible */
  border-radius: 10px;     
  cursor: pointer;
}

/****************QuestionsPage.js*************************/
.questionpage {
  font-family: 'inter', sans-serif; 
  font-size: clamp(1.25rem, calc(1rem + 2.5vw), 2rem);
  color: #391c69;
}

.pointer {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.questionNavigation {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: bold;
}

.selected-bold {
  font-weight: bold;
}

.pageFooter {
  margin-top: 5rem;
  display: flex;
  gap: 50px;
}

.blank {
  display: inline-flex;
  min-width: 90px;
  min-height: 22px;
  border-bottom: 2px solid #333;
  margin: 0 6px;
  align-items: center;
  justify-content: center;
}

.options li {
  display: block;
  width: 100%;
}

.options button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1.5rem 1rem;
  
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}



/****************ResultsPage.js*************************/
.resultspage {
  font-family: 'inter', sans-serif; 
  font-size: clamp(1.25rem, calc(1rem + 2.5vw), 2rem);
  color: #391c69;
}

.quizReviewItem {
  margin-top: 4%;
}

.quiztopic {
  text-decoration: underline;
}

.questionsresult {
  margin-left: 10%;
}

/****************HelpPage.js*************************/
.helppage {
  font-family: 'inter', sans-serif; 
  font-size: clamp(1.25rem, calc(1rem + 2.5vw), 2rem);
  color: #391c69;
}