/****************General*************************/
h2, h1 {
  font-family: 'Inter', sans-serif; 
  font-weight: 600;
  color: #391c69;
  margin-top: 12px;
  letter-spacing: -0.01em;
  line-height: 1.4;
  text-align: left;
}

h1 {
  font-size: clamp(16px, 4vw, 50px);
}

h2 {
  font-size: clamp(10px, 3.5vw, 40px);
}






/****************App.js*************************/
.appheader {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between; /* Pushes title to left and icons to right */
  align-items: center;     
}

.header-line {
  border: none;
  height: 3px;
  background-color: #dfe6e9;
  margin: 0; 
  margin-bottom: 3%;
  width: 100%;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerIcons img, .resetResults {
  width: clamp(16px, 3vw, 50px);                   
  height: auto;
  cursor: pointer;
}

/****************HomePage.js*************************/
.homepage{
  font-family: 'inter', sans-serif; 
  font-size: clamp(16px, 2.5vw, 50px);
  color: #391c69;
}

.quizzes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
}

.quiz-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.quizTitle {
  font-size: clamp(8px, 3vw, 30px);
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 2%;
  letter-spacing: -0.01em;
  line-height: 1.4;
  text-align: left;
}

.quizImage {
  width: 100%;  
  max-width: 500px;          
  aspect-ratio: 1 / 1;    /*height to match the width */
  object-fit: cover;      /*Crop to fill the square*/
  object-position: center; /*center of the image is visible */
  border-radius: 10px;     
  cursor: pointer;
}

/****************QuestionsPage.js*************************/
.questionpage {
  font-family: 'inter', sans-serif; 
  color: #391c69;
}

.pointer {
 cursor: pointer;

}
.selected-bold {
    font-weight: bold;
}

.pageFooter {
  display: flex;
  gap: 50px;
}

.blank {
  display: inline-flex;
  min-width: 90px;
  min-height: 22px;
  border-bottom: 2px solid #333;
  margin: 0 6px;
  align-items: center;
  justify-content: center;
}

.options li {
  padding: 6px 10px;
  cursor: grab;
  border-radius: 4px;
}


/****************ResultsPage.js*************************/
.resultspage {
  font-family: 'inter', sans-serif; 
  font-size: clamp(10px, 2vw, 20px);
  color: #391c69;
}

.quizReviewItem {
  margin-top: 4%;
}

.questionsresult {
  margin-left: 4%;
}


